<!-- View Data -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of crud_users">
      <tr>
        <td id="name " name="delId">{{user.id}}</td>
        <td id="name " name="delName">{{user.name}}</td>
        <td id="email" name="delEmail">{{user.age}}</td>
        <td>
          <button type="submit" class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

